html {
	height: 100%;
}

body {
	background: black; 
}

div.header {
	background-color: white;
	text-align: center;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 55px;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
}

p.lead {
	font-size: 18px;
	text-align: left;
	color: white;
}

div.block {
	display: block;
	width: 70%;
	margin: 0 auto;
}

div.white {
	background-color: #fff;
}

div.darkblue {
	background-color: #040021;
}

div.grey {
	background-color: #C8C8C8;
}

div.lightblue {
	background-color: #4A466B;
}

div.footer {
	background-color: white;
	text-align: center;
}
